# Week 1: Intro to Python

### Table of contents
* [Python as a calculator](#bullet1)
* [Boolean data types](#bullet2)
* [String data types](#bullet3)
* [Numeric data types](#bullet4)
* [Storing values in variables](#bullet5)
* [Commenting your code!](#bullet6)
* [List objects](#bullet7)
* [Tuple objects](#bullet8)
* [Dictionaries](#bullet9)
* [Built in Functions](#bullet10)
* [Methods](#bullet11)
* [Installing other Python packages](#bullet12)

## 1. Python as a calculator <a class="anchor" id="bullet1"></a>

In [1]:
1+1

2

In [2]:
1+2*3

7

In [3]:
(1+2)*3

9

##### + is called an operator. Like all programing langugages, Python includes many types of operators. + - * / **

## 2. Boolean data types (True / False) <a class="anchor" id="bullet2"></a>

In [4]:
2 * 2 == 4

True

In [5]:
(3 ** 3) == 27  # Note the ** operator is an exponent operator! This is 3^3

True

In [6]:
(3 ** 2)

9

In [7]:
type(False)

bool

## 3. String data types <a class="anchor" id="bullet3"></a>

In [8]:
"string"

'string'

In [9]:
type("string")

str

## 4. Numeric data types <a class="anchor" id="bullet4"></a>

For numeric data, Python has a "int" and "float" (ie decimal) data type

In [10]:
5 + 5

10

In [11]:
type(5 + 5)

int

In [12]:
type(3.24)

float

In [13]:
print(63/8)

7.875

## 5. Storing values in variables <a class="anchor" id="bullet5"></a>

* A variable is a name for a value. 
* We can create a new variable by assigning a value to it with `=`, which is what we call the assignment operator in Python. 
* Once you create a variable, it's value is said to be "initialized" into your environment
* You cannot use a space within a variable name, use to `_` in place of spaces
* Variable names cannot start with a number, nor can they contain a `.`

In [14]:
width = 5
width

5

In [15]:
width * width # We can do arithmetic with variables

25

In [16]:
area = width * width  # We can store the results of arithmetic in another variable
area

25

In [17]:
width = 10   # We can change a variables value by reassigning a value to it
width

10

In [18]:
area  # The value of area hasn't been updated, and won't be until we reassign the area variable

25

In [19]:
pre_test_score = 96

In [20]:
print(pre_test_score)

96

In [21]:
4test = 4

SyntaxError: invalid syntax (3937181391.py, line 1)

In [22]:
test4 = 5

In [23]:
pre.test.score = 10

NameError: name 'pre' is not defined

In [24]:
# Challenge: Rewrite this code in a single line
a = 4*20
b = 7
a+b

87

In [25]:
# Challenge: Rewrite this code in several lines
2*2+2*2+2*2

12

## 6. Commenting your code! <a class="anchor" id="bullet6"></a>

##### the `#` is used to add comments, which will ignore all code on a line following the `#`

In [26]:
## This code computes updates the area
area = width * width

###### You can also use triple single or double quotes to add comments

In [27]:
""" This will be ignore  """ 
''' So will this '''
5 + 6

11

 ###### When applying to jobs, you should clearly comment your code and describe what you are doing! This makes it easier for those who are "grading" your work, and saves them time. This increases your chances of "passing"

## 7. List objects <a class="anchor" id="bullet7"></a>

* list are a special data type in python which can hold multiple "elements", similar to vectors in R
* Unlike the vector from R, list elements can be of different data types themsevles - they can even be another list
* Indexing, or slicing, a list refers to extracting a particular set of its elements

In [28]:
# intialize an empty list
lst = []
lst

[]

In [29]:
# intialize an unempty list
lst = [2, 4, 6, 8, 10]
lst

[2, 4, 6, 8, 10]

In [30]:
type(lst)

list

In [31]:
# length of list
len(lst)

5

In [32]:
# arithmetic 
[i+1 for i in lst] # This syntax is called a "list comprehension", which we will learn about later in the course

[3, 5, 7, 9, 11]

In [33]:
[i+i for i in lst]

[4, 8, 12, 16, 20]

In [34]:
# Add the interger 60 to the list
lst + [60]

[2, 4, 6, 8, 10, 60]

In [35]:
# Challenge: What do you think this will do?
lst + lst

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

In [36]:
# returns an error, because when Python sees the "+" following a list object, 
# it is looking to concatanate or add another list data type
1st + 1

SyntaxError: invalid syntax (3900246329.py, line 3)

In [37]:
lst.append(60) # another valid way to add an element
lst

[2, 4, 6, 8, 10, 60]

In [38]:
lst = ['hello', 'world'] # list of strings
lst

['hello', 'world']

In [39]:
lst = [True, False] # boolean list
lst

[True, False]

In [40]:
# Mixing types: lists can also store multiple data types - but be careful when doing this! 
lst = [2, 54, 5, "hello", "world", True, False, 23]
print(lst)

[2, 54, 5, 'hello', 'world', True, False, 23]

In [41]:
# indexing or slicing a list. Python starts indexing at 0, not 1! This is different from R
lst = [2, 4, 6, 8, 10]
lst[0] # To slice the first element, use an index value of 0

2

In [42]:
lst[3] # this slices the fourth element in the list object

8

In [43]:
# Slice multiple values using ":". Note: In the code below, we will extract elements 1, 2 and 3. Not element 4!
# While we start with the first element 0, the element in position 3 is not included in the slice
lst[0:3]

[2, 4, 6]

In [44]:
# We can update values by assigning new values to a particular set of elements
lst[2] = 5  # update the third element to be a 5
lst

[2, 4, 5, 8, 10]

In [45]:
# We can also use indexing with a "-" sign, which starts from the end rather than the beginning of the list
lst[-1]  # note that -1 is the first element when using this reverse indexing method.

10

In [46]:
lst[-0] # "-0" defaults to the first element that starts a list

2

In [47]:
# We can assign multiple values at once
lst[1:4] = [2, 3, 4]
lst

[2, 2, 3, 4, 10]

In [48]:
# Below, we use a method called ".insert" to insert the element 60 at the 0 index position
lst = [2, 4, 6, 8, 10]
lst.insert(0, 60)
lst

[60, 2, 4, 6, 8, 10]

In [49]:
# Experimenting with the ":" while sliceing
lst[:3]  # Grab everything from 0 until index spot 2

[60, 2, 4]

In [50]:
lst[:5]

[60, 2, 4, 6, 8]

In [51]:
lst[:] # Grabe entire list

[60, 2, 4, 6, 8, 10]

In [52]:
lst[2:] # go to element at index 2, and grab everything until to the end of the list

[4, 6, 8, 10]

In [53]:
lst[:3] # Slice everything up to, but not including, element 3

[60, 2, 4]

In [54]:
lst[-3:-1] # use negative indeces to slice from the end of the list

[6, 8]

In [55]:
# A step can also be used after a second colon to, say, take every other element:
lst[::2] # Starting from the first element, take every other element - takes evens

[60, 4, 8]

In [56]:
lst[1::2] # Starting from the second element, take every other element - takes odds

[2, 6, 10]

In [57]:
# You can also create sequences with the range function
lst99 = range(0,10)  # This is called a "generator expression", also called "lazy evaluation"
lst99

range(0, 10)

A generator expression is a special kind of function that returns a "lazy iterator". Certain python objects will be able to loop through such expressions (ie a for loop like we will later study), however the generator expression is not executed and committed to your PC's memory. It's basically a programing hack to save computer resources. In the example above, we can make make a list object by wrapping the generator expression in the list() function, which is alternative syntax for creating a list object

In [58]:
# For example:
lst99 = list( range(0,10) )
lst99

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
# a nested list
lst3 = [["John", 23],
        ["Sally", 19],
        ["Sarah", 43]]
lst3

[['John', 23], ['Sally', 19], ['Sarah', 43]]

In [60]:
# The above is a multi-dimensional list object, so you have to use multi-dimensional slicing to index it
lst3[0] # the first element (index 0) is actually another list!

['John', 23]

In [61]:
lst3[0:2]

[['John', 23], ['Sally', 19]]

In [62]:
lst3[0][1] # We can keep adding slices to keep slicing further

23

In [63]:
lst3[0:2]

[['John', 23], ['Sally', 19]]

In [64]:
A = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
A

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [65]:
i, j = 1, 2
A[i][j]

6

### Challenge: Use the following list to answer the following questions

In [66]:
items = ["spam", "eggs", "beans", "bacon", "sausage"]

##### Challenge: What does items[::-1] produce? Based on what you find, use indexing to create a version of items without "spam"

##### Challenge: Use indexing and concatenation to create a list containing spam, eggs, sausage, spam, and spam

##### Challenge: Add a new item, “lobster”, to items

## 8. Tuple objects <a class="anchor" id="bullet8"></a>

In [67]:
t1 = ("Modern", "Data", "Structures")
t1

('Modern', 'Data', 'Structures')

In [68]:
type(t1)

tuple

In [69]:
# index the same way as lists
t1[1]

'Data'

In [70]:
t2 = (1, 2, 3, 4, 5, 6, 7)

In [71]:
# add 2 tuples of different types, thus tuples can hold different types
t1+t2

('Modern', 'Data', 'Structures', 1, 2, 3, 4, 5, 6, 7)

In [72]:
# What does the code below do ? Note this will work for list objects as well!
t2 * 3

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [73]:
# immutable, unlike lists. This means their values can never be modified!
t2[0] = 0

TypeError: 'tuple' object does not support item assignment

## 9. Dictionaries <a class="anchor" id="bullet9"></a>

In [74]:
# key, value pairs
dic = {
    "player": "Tom Brady",
    "age": 45,
    "position": "QB"
}
print(dic)

{'player': 'Tom Brady', 'age': 45, 'position': 'QB'}

In [75]:
dic['player']

'Tom Brady'

## 10. Built in Functions <a class="anchor" id="bullet10"></a>

* Functions are the things that do all the work for us. They take a set of inputs, and produce a set of outputs
* They always follow the same rules / logic when executing them
* They save a lot of time, and you can use functions from base python, other libraries, or ones that you write
* Functions can be identified anytime you see () in python
* For example, max() is a function called max, which takes an input (called arguments or parameters of the function) placed inside the parentheses. This function will return the largest number

In [76]:
lst = [0, 10, 20, 30, 40, 50, 60, 70 ,80, 90, 100]

In [77]:
max(lst)

100

In [78]:
min(lst)

0

In [79]:
sum(lst)

550

In [80]:
items

['spam', 'eggs', 'beans', 'bacon', 'sausage']

In [81]:
# function behavior depends on the data type! 
max(items)

'spam'

In [82]:
min(items)

'bacon'

In [83]:
mean(lst) # Where's the mean function ?

NameError: name 'mean' is not defined

In [84]:
# We can use functions written by other Pythonistas! We can import their functions using the from / import calls
# Here, we import the mean function from the statistics module/library
from statistics import mean
mean(lst)

50

In [85]:
# Sometimes, a function is not compatible with a certain datatype, which will result in an error
mean("test")

TypeError: can't convert type 'str' to numerator/denominator

In [86]:
round(51.63452)

52

In [87]:
# Some functions can use multiple arguments. You can tell the round() function for example how many decimal places to round to
round(51.63452,2)

51.63

In [88]:
# ? followed by a function name pulls open a help menu
?round

In [89]:
# When setting the arguments to a function, you can name them or rely on their default order
round(number=51.63452, ndigits=2)

51.63

In [90]:
round( ndigits=2, number=51.63452)

51.63

In [91]:
# issue here, because the function expects the unnamed second argument to be ndigits.
# So be careful when defining function arguments based on position!
round( ndigits=2, 51.63452)

SyntaxError: positional argument follows keyword argument (3197785800.py, line 2)

In [92]:
len(lst)

11

##### Challenge: use the sum function to sum the numbers 1 to 10,000

###### Challenge: Look at documentation for the pop() function. Then practice using it!

##### Challenge: Can you find a function that will allow you to create a list of length 100 where every element is 99?

## 11. Methods <a class="anchor" id="bullet11"></a>

Some data types allow you to use special functions called "methods". Methods are accessed by appending a `.` to the end of an object name, followed by particular method. See below.

In [93]:
a = (1, 2, 3, 3, 2, 22, 1, 2)

In [94]:
a.count(2) # a method which counts the number of 2s

3

In [95]:
b = 'string'
b.replace('s', 'S')

'String'

In [96]:
b # Be aware that sometimes when you call a function/method, it may not neccessarily update the underlying object

'string'

In [97]:
a.replace(1, 99)  # methods depend on data types! Because tuples are immutable, we cannot use the replace method

AttributeError: 'tuple' object has no attribute 'replace'

In [98]:
a.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [99]:
c = [1, 2, 3, 4]
c.append(5)   # The append method does modify the underlying object
c

[1, 2, 3, 4, 5]

In [100]:
c.remove(2)
c

[1, 3, 4, 5]

## 12. Installing Other Python Packages <a class="anchor" id="bullet12"></a>

In general, you should not need to install many, if any, extra python packages when you use the Anaconda distribution. This is because it already comes with the most popular packages that people use! 

But, you can install packages from the Anaconda Prompt with the following code `pip install package_name`
For example, if you want to install the **pyautogui** library, open your conda terminal and paste in the following code:
`pip install pyautogui`